.wp-video {
  margin: 0 auto;
}

.elementor-text-editor p:first-child {
  margin-top: 1em;
}

.elementor-text-editor p {
  margin: 0.5em 0;
  color: #444;
  font-size: 1.2rem;
}

/* .dark p {
  color: #e7e9ea;
} */
