@font-face {
  font-family: 'Uthman Taha';
  src: local('KFGQPC Uthman Taha Naskh'),
    url('../assets/fonts/UthmanTN1\ Ver10.otf') format('opentype');
}

@font-face {
  font-family: 'Uthman Taha';
  font-weight: 700;
  src: local('KFGQPC Uthman Taha Naskh'),
    url('../assets/fonts/UthmanTN1B\ Ver10.otf') format('opentype');
}

/*
  DIRECTION
*/

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

/*
  RADIO BUTTONS
*/

input:where([type='radio'], [type='checkbox']) {
  accent-color: #a68537;
}

input:where([type='radio'], [type='checkbox']) {
  display: none;
  opacity: 0;
  visibility: hidden;
}

input:where([type='radio'], [type='checkbox']) + label {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0em 0.5em;
  border-radius: 25px;
  border: 2px solid #5a5045;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  transition: all 300ms;
}

input:where([type='radio'], [type='checkbox']) + label:where(:hover, :focus) {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4);
}

input:where([type='radio'], [type='checkbox']):checked + label {
  background-color: #aa8c3c;
  color: #fff;
}

/*
 MARK ELEMENT
*/

mark::before,
mark::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

mark::before {
  content: ' [highlight start] ';
}

mark::after {
  content: ' [highlight end] ';
}

/*
  TOOLTIP
*/

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  width: 6.4rem;
  padding: 0.1em 0.5em;
  z-index: 1;
  bottom: 135%;
  left: 0%;
  margin-left: -40px;
  text-align: center;
  border-radius: 6px;
  font-size: 0.95rem;
  color: #fff;
  background-color: #a68537;
  opacity: 0;
  transition: all 300ms;
}

.tooltip .tooltiptext.active {
  background-color: #3fa67f;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #a68537 transparent transparent transparent;
}

.tooltip .tooltiptext.active::after {
  border-color: #3fa67f transparent transparent transparent;
}

.tooltip:where(:hover, :focus) .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*
  HEADER
*/

.header-social-inner-wrap {
  display: none;
}

.menu-text {
  font-size: 1.2rem;
}

.active-link {
  cursor: default;
}

.active-link:is(:hover, :focus) {
  transform: unset;
}

.active-link .menu-text {
  color: #a68537;
}

.site-header-primary-section-left-center {
  visibility: hidden;
}

/*
  FOOTER
*/
footer {
  padding: 0.5em;
  display: grid;
  gap: 0.5em;
  align-items: center;
  text-align: center;
  background-color: #343434;
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.5;
}

footer p {
  margin: 0;
}

footer p a:hover {
  color: #fff;
}

:is(#main, #content).dark,
:is(#main, #content).dark :where(.post-4074, .post-4077, .post-40194) {
  background-color: #1f2125;
  color: #e7e9ea;
}

:is(#main, #content).dark :where(h1, p, a span) {
  color: #e7e9ea;
}

#masthead.dark {
  background-color: #8b8b8b90;
  color: #e7e9ea;
}

#masthead.dark a span {
  /* color: #e7e9ea; */
}

.dark :is(.jet-popup__container, jet-popup__container-inner) {
  background-color: #111;
}

section.error-404 .page-sub-title {
  font-weight: 400;
}

.dark .error-404 * {
  background-color: #343a40;
}

.dark .error-404 a:where(:hover, :focus) {
  color: #e7e9ea;
}

/* Color Theme Swatches in Hex */
/* .Theme-3-1-hex { color: #B8B167; }
.Theme-3-2-hex { color: #FFFEEE; }
.Theme-3-3-hex { color: #A68537; }
.Theme-3-4-hex { color: #9A7B34; }
.Theme-3-5-hex { color: #5A5045; } */

/* Color Theme Swatches in RGBA */
/* .Theme-3-1-rgba { color: rgba(184, 177, 103, 1); }
.Theme-3-2-rgba { color: rgba(255, 253, 237, 1); }
.Theme-3-3-rgba { color: rgba(165, 133, 54, 1); }
.Theme-3-4-rgba { color: rgba(154, 123, 52, 1); }
.Theme-3-5-rgba { color: rgba(89, 80, 68, 1); } */

/* Color Theme Swatches in HSLA */
/* .Theme-3-1-hsla { color: hsla(54, 36, 56, 1); }
.Theme-3-2-hsla { color: hsla(56, 100, 96, 1); }
.Theme-3-3-hsla { color: hsla(42, 50, 43, 1); }
.Theme-3-4-hsla { color: hsla(41, 49, 40, 1); }
.Theme-3-5-hsla { color: hsla(31, 13, 31, 1); } */
