body {
  background-color: #444;
}

.elementor-text-editor p {
  font-size: 1.2rem;
  color: #444;
}

#main.dark .elementor-text-editor p:not(:first-child),
.elementor-text-editor p:not(:first-child) {
  color: #a68537;
  width: max-content;
}
