.doctor-results-page-elements {
  margin: 1.5em auto;
  display: grid;
  gap: 0.75em;
  justify-content: stretch;
  align-items: center;
  text-align: center;
}

h2.doctor-query-title {
  text-align: center;
  margin: 0 auto;
  cursor: default;
  font-family: 'Source Serif Pro', sans-serif;
  font-weight: 700;
  color: #a68537;
}

h2.doctor-query-title.ar {
  font-family: 'KFGQPC Uthman Taha Naskh', 'Calibri';
}

.doctor-results-count {
  margin: 0 auto;
  font-size: 1.2rem;
  transition: all 200ms ease-in-out;
}

#doctor-search {
  position: sticky;
  z-index: 2;
  padding: 0;
  margin: 0;
  width: 100%;
  display: grid;
  justify-content: stretch;
  align-items: center;
  gap: 0.6em;
}

#doctor-search .doctor-search-engine {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 2.3rem;
  right: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#doctor-search input.doctor-search-input {
  position: sticky;
  width: 140px;
  height: 100%;
  display: block;
  border: 2px solid #a68537;
  padding: 0.3em 0.6em 0.3em 2.5rem;
  border-radius: 25px;
  outline: unset;
  text-align: center;
  font-size: 1.2rem;
  transition: all 400ms ease-in-out;
}

.doctor-search-input.en {
  font-family: 'Source Serif Pro', sans-serif;
}

#doctor-search input.doctor-search-input:focus {
  width: 70%;
  border: 2px solid #5a5045;
  filter: drop-shadow(1px 1px 25px rgba(0, 0, 0, 0.15));
  outline: unset;
}

#doctor-search input.doctor-search-input:focus + button[type='submit'] {
  background-color: #5a5045;
}

#doctor-search button[type='submit']:where(:hover, :focus) {
  background-color: #5a5045;
}

#doctor-search button[type='submit'] {
  position: relative;
  height: 100%;
  padding: 0;
  width: 2.3rem;
  left: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: #fff;
  transition: all 350ms ease-in-out;
}

#doctor-search button[type='submit'] i {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}

#doctor-search .doctor-search-options {
  position: relative;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  margin: 0 auto;
  gap: 0.5em;
}

#doctor-search .doctor-search-options .option {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: 0.5em;
}

#doctor-search ul {
  list-style-type: none;
}

#doctor-search .doctor-search-options .option-data {
  /*   position: absolute; */
  /*   margin-block: 3rem; */
  /*   top: 2rem; */
  /*   right: 0%; */
  width: fit-content;
  display: flex;
  justify-content: center;
  gap: 1em;
  transition: max-height 500ms ease-in-out;
}

#doctor-search .doctor-search-options > label {
  margin: 0 auto;
  order: -1;
}

.option-data {
  margin: 0 auto;
}

input[type='checkbox'] ~ .option-data {
  display: none;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
}

input[type='checkbox']:checked + label + .option-data {
  visibility: visible;
  opacity: 1;
  max-height: 10rem;
}

.elementor-pagination {
  margin: 0.5em auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  gap: 0.1em;
}

.elementor-pagination .page-numbers {
  margin: 0.2em 0;
  padding: 0 0.4em;
  border-radius: 5px;
}

.elementor-pagination a.page-numbers:where(:hover, :focus) {
  color: #fff;
  background-color: #343a40;
}

.font-resizers {
  text-align: center;
  font-weight: 700;
}

.dark .font-resizers a:where(:hover, :focus) {
  color: #e7e9ea;
}

@media (min-width: 481px) {
  #doctor-search input.doctor-search-input:focus {
    width: 40%;
  }
}

.elementor-posts-nothing-found {
  display: none;
}
